body{
	background: linear-gradient(to top left, #191B20, #2D2F38);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

header{
	position: fixed;
    top: -4px;
    left: 6px;
    color: #6ACC65;
    font-size: 40px;
}

#center{
	display: block;
	align-content: center;
}

.greetings{
	display:block;
	text-align: center;
	margin-top: 35vh;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
}

.name{
	text-align:center;
	font-family: 'Raleway', sans-serif;
  	color: #6ACC65;
  	font-size: 150px;
  	margin-bottom: 60vh;
}

#bio {
    width: 75%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 3ch;
    margin-bottom: 35px;
    padding: 30px;
    background: linear-gradient(to top left, #242D3E, #3C4B61);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
}

.profile-image{
	border-radius: 100px;
	width: 200px;
	height: 200px;
	margin-bottom: 25px;
}

.text{
	cursor:default;
}

#fac{
	color: #6ACC65;
}

#profil{
	color: #6ACC65;
}

.portfolio-cards{
	width: 90%;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
}

.project-text{
	position: absolute;
    top: 225px;
    left: 0;
    width: 360px;
    height: 240px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    line-height: 2.2ch;
    font-size: 16px;
    padding: 15px;
    padding-top: 0;
}

.project-card{
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(to top left, #242D3E, #3C4B61);
	box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
	margin-bottom: 35px;
	width: 360px;
	height: 520px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
	border-radius: 10px;
	transition: all 0.5s;
}

.project-card:hover{
	transform: scale(1.05);
}

.project-image{
width: 360px;
height: 230px;
border-top-right-radius: 10px; 
border-top-left-radius: 10px;
padding-bottom: 10px;
}

a{
	
}

footer{
	position: fixed;
    bottom: -4px;
    right: 6px;
    color: #6ACC65;
    font-size: 40px;
}